
/* Logged-in Navbar and Sidebar; base.html */
#header-logo {
  padding-left: 35%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 120px;
}

#balance-name {
  padding-top:20px;
  text-align:right;
  color:white;
  font-size:18px;
  padding-right:35px;
}

#balance-text {
  font-size: 25px;
}

.no-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#navbar {
  max-height:120px;
  padding-right:10%;
}

#user-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 95px;
}

#footer {
   max-width:200px;
   margin-right: 10px !important;
}

#sidebar-wrapper {
  padding-top:135px;
}

.stop_margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#sidebar {
  background-color:#666666;
  padding-top: 5vh;
  width: 400x;
  min-height: 100vh;
}

#rendered-body {
  padding-top: 5vh;
  min-width: 300px;
  /*max-height: 100vh;*/
  padding-left:40px;
  padding-right:40px;

}

#nav-list {
  display: block;
}

.subnav {
  font-size: 16px;
}

.subnav-list {
  padding-left: 15%;
}
