.income_header_row {
    background-color: #88cebc;
    color: white;
}

.search_btn {
    width: 100%;
    color: #88cebc !important;
    border-color:  #88cebc !important;
}

.search_btn:hover {
    width: 100%;
    color: white !important;
    border-color:  #88cebc !important;
    background-color: #88cebc !important;
}

.view-more-link {
    color: grey;
    font-size: 16px;
}

table {
    margin-bottom: 0px !important;
}

.view-more-link:hover {
    color: grey;
}

.dash_heading {
    color: rgb(112, 112, 112);
}

.accept_btn {
    color: #88cebc !important;
    border-color:  #88cebc !important;
    width: 60px;
}

.accept_btn:hover {
    color: white !important;
    border-color:  #88cebc !important;
    background-color: #88cebc !important;
}

.reject_btn {
    color:  #bd3c3c!important;
    border-color:  #bd3c3c !important;
    width: 60px;
}

.reject_btn:hover {
    color: white !important;
    border-color:  #bd3c3c !important;
    background-color: #c24343 !important;
}

.request_btn {
    padding-left:10px;
    display: inline;
}
