{% load static %}

@font-face {
    font-family: Fashion;
    src: url('/static/fonts/Fashion-Fetish-Bold.ttf') format('truetype');
}

.container {
  max-width: 100%;
}

.index_back {
    background: url('/static/images/splash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.register_back {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.footer_base {
}

.register_form {
    padding: 35px;
}

.bottom_line_motto{
    padding-left: 7em;
}

.top_line_motto{
    padding-left: 3em;
}

.intro_text {
    position: absolute;
    top: 23%;
    font-family: Fashion, serif;
    color: #77b59f;
    text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff;

}

.navbar-fixed-top {
    background-color: #88cebc !important;
}

.padding_top {
    padding-top: 3em;
}

.display-5 {
    font-size: 2.2em !important;
}

.icon {
    padding-left: 10px;
}

.icon:hover {
    color: grey;
}

.social_icons {
    float: right;
    position: relative;
    font-size: 27px;
}

.copyright {
    float: left;
    position: relative;
}

.main_landing {
    position:  relative;
    z-index: 1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}


.display-6 {
    font-size: 1.7em;
    color: rgb(90, 90, 90);
}

html {
    height: 100% !important;
}

body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.footer {
    min-height: 150px;
    background-color: #f3f3f3;
    color: #5b5b5b;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-left:40px;
    padding-right:40px;
    bottom: 0;
}

.landing {
    min-height: 380px;
}

.nav_text {
    color: white !important;
    padding-left: 1em !important;
    font-size: 1.2em;
}

@media screen and (max-width: 992px) {
    /* For mobile phones: */
    .nav_text  {
        padding-left: 5% !important;
    }
}

.nav_text:hover {
    color: grey !important;
    transition: color 300ms linear;

}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

/* Logged-in Navbar and Sidebar; base.html */
#header-logo {
  padding-left: 35%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 120px;
}

#balance-name {
  padding-top:20px;
  text-align:right;
  color:white;
  font-size:18px;
  padding-right:35px;
}

#balance-text {
  font-size: 25px;
}

#navbar {
  max-height:120px;
  padding-right:10%;
}

#user-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 95px;
}

#footer {
   max-width:200px;
   margin-right: 10px !important;
}

.subnav {
  font-size: 16px;
}

.subnav-list {
  padding-left: 15%;
}
