*.pyc
db.sqlite3
myvenv
__pycache__
local_settings.py
.vs*
.vscode

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
webapp/templates/.DS_Store
waterfall/static/css/.DS_Store
webapp/migrations/.DS_Store
waterfall/static/.DS_Store
waterfall/static/.DS_Store
webapp/migrations/0001_initial.py
webapp/migrations/0001_initial.py
