{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall - New Group</title>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" type="text/css">
<script src="{% static 'js/pay.js' %}"></script>
<script src="{% static 'js/awesomplete.js' %}" async></script>
<link rel="stylesheet" href="{% static 'css/group/new.css' %}" type="text/css">

{% endblock %}

{% block content %}
<div class="container bootstrap snippet" onload="checkError("{{ error }}")">
  <div class="row">
      <div class="col-sm-10">
        <h1>Create A New Group &nbsp;&nbsp;</h1>
      </div>
        <!-- Balance Edit Buttons -->
      <div class="col-sm-10">
        <div class="row">
            Invite
            <input class="col-sm-10 form-control" placeholder="Search" list="pay_userList" required>
              <!-- autocomplete type="search" -->
            <datalist id="pay_userList">
              {% for f in other_users %}
              <option>{{ f }}</option>
              {% endfor %}
            </datalist>
            <button class="col-sm-2 btn btn-primary" id="add" onclick="add('pay_search', 'pay_users')">Add
                <i class="fa fa-plus"></i></button>
        </div>
        <div class="row">
          <form role="form" method="POST">
            {% csrf_token %}
            <div class="col-sm-10  ml-5 pl-5 mb-3 form-inline">
                <ul class="ml-4 form-inline" id='pay_users'></ul>
            </div>
            Group Name
            <input placeholder="Name" name="name" required>
            <br>
            <button type="submit" onclick="checkCard()">Create Group</button>
          </form>
        </div>
      </div><!-- end of buttons -->
    </div>

  </div> <!-- end of container -->
</div>

<script>
checkError("{{error}}");
</script>
{% endblock %}
