{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall - Balance Management</title>
<link href="{% static "css/balance.css" %}" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static "js/balance.js" %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
  <div class="row">
      <div class="col-sm-10">
        <h1>Balance Management &nbsp;&nbsp;</h1>
        <h3 class="subheader" style="padding-top:15px;">Current Balance </h3>
        <p id="balance-value">${{ user.account.balance | floatformat:"2" }}</p>
      </div>
        <!-- Balance Edit Buttons -->
      <div class="col-sm-10" id="balance-buttons">
        <div class="row">
          <div class="button-row">
            <input type="text" class="text-center form-control" name="add_amount" placeholder="0.00" value="0.00" id="add-amount">
            <p style="font-size:0.1px;"><br></p>
            <div style="padding-left:5%;">
              <button class="btn btn-lg btn-success text-center" type="submit" value="Add" onclick="balancePopup(false)" id="plus-button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="button-row" style="padding-left:36%; float:right;">
            <input type="text" class="text-center form-control" name="minus_amount" id="minus-amount" value="0.00" placeholder="0.00">
            <p style="font-size:0.1px;"><br></p>
            <div style="padding-right:25%">
              <button class="btn btn-lg btn-danger" type="submit" value="Withdraw" onclick="balancePopup(true)" id="minus-button">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
      </div><!-- end of buttons -->
    </div>

    <br> <br>
    <!-- Payment Options -->
    <div class="row">
      <div class="col-sm-10">
        <h3 class="subheader">Edit Card Payment Options &nbsp;&nbsp;</h3>
        <!-- Credit Card Account Details -->

        <!-- <form role="form" method="POST"> -->
            <div class="row" id="card-form">
                <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                          <input type="tel" id="cardnum" class="form-control" name="cardNumber" placeholder="Card Number" autocomplete="cc-number" required autofocus
                          />
                      </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right" style="padding-top:4%;">
                  <img class="img-responsive pull-right" style="float:right;" src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                        <label for="cardExpiry">
                          <span class="hidden-xs">Expiry Date</span>
                        </label>
                        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YYYY" autocomplete="cc-exp" id="expiry" required
                        />
                    </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                        <label for="cardCVC">CCV Code</label>
                        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" id="ccv" autocomplete="cc-csc" required
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
               <div class="col-xs-12 text-left">
                  	<button class="btn btn-lg btn-success" type="submit" onclick="checkCard()" ><i class="fas fa-check"></i> &nbsp;Save Card</button>
                </div>
            </div>
        <!-- </form> -->
      </div>
    </div> <!-- end of card payments row -->

  </div> <!-- end of container -->
</div>
{% endblock %}
