{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %} {% endblock %}
        {% block css %} {% endblock %}
        <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="icon"
          type="image/png"
          href="{% static 'images/waterfall-logo.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Hind:300|Nanum+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Assistant|IBM+Plex+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <!-- Load our React component. -->
    <body>
        <!-- Top Navbar -->
        <div class="navbar fixed-top navbar-light navbar-fixed-top">
            <div class="navbar-header">
              <a href="/"><img src="{% static "images/waterfall-logo.png" %}" id="header-logo"/></a>
            </div>

            <ul class="nav navbar-nav navbar-right" id="navbar">
                <li id="balance-name">BALANCE
                  <p id="balance-text">${{ user.account.balance | floatformat:"2" }}</p>
                </li>
                <li>
                  <a href="{% url 'profile' %}"><img src="{% static "images/anon-user.svg" %}" id="user-icon"/></a>
                </li>
            </ul>
            
        </div>

        <div id="sidebar-wrapper">
            <div class="row stop_margin">
                <!-- Sidebar -->
                <div class="col-md-3 position-fixed" id="sidebar" role="navigation">
                    <div class="affix">
                    <ul class="nav" id="nav-list">
                        <li>
                          <a href="{% url 'dashboard'%}" id="about_nav" class="active nav_text nav-link" role="button">Dashboard
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav" href={% url 'profile'%}>Profile Settings
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav" role="button" href={% url 'balance'%}>Balance Management
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav"  role="button" href="{% url 'logout'%}">Logout
                          </a>
                        </li>
                        <li>
                          <a id="about_nav" class="nav_text nav-link" role="button" href="{% url 'pay' %}">TricklePay
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav" role="button" href="{% url 'pay' %}">Pay
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav" role="button" href="{% url 'request' %}">Request
                          </a>
                        </li>
                        <li>
                          <a id="about_nav" class="nav_text nav-link" role="button" href="#">Groups
                          </a>
                        </li>
                        <li class="subnav-list">
                          <a id="about_nav" class="nav_text nav-link subnav" role="button" href="{% url 'create_group' %}">Create Group
                          </a>
                        </li>
                        <li class="subnav-list">
                            <a id="about_nav" class="nav_text nav-link subnav" role="button" href="{% url 'group_management' %}">Manage Group
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>

                <div class="no-pad col-md-9 offset-md-3">
                    <!-- Rendered Body -->
                    <div id="rendered-body">
                    {% block content %} {% endblock %}
                    </div>
                    <div class="footer footer_base">
                        <div class="container desktopView">
                            <br/>
                            <br/>
                            <div class="copyright">
                                <p id="footer" class="bottomText"> Project Waterfall &copy; 2018</p>
                            </div>
                            <div class="social_icons">
                                <i class="fab fa-facebook-square icon"></i>
                                <i class="fab fa-linkedin icon"></i>
                                <i class="fab fa-instagram icon"></i>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>

    </body>
</html>


<script>


</script>
