{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Waterfall - TricklePay</title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/group.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" type="text/css">
<script src="{% static 'js/awesomplete.js' %}" async></script>
<link rel="stylesheet" href="{% static 'css/group.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container" style="">
    <h3 class="py-4">Create Group</h3>
    <form role="form" id="group-creation-form" onsubmit="event.preventDefault();popup('group-creation-form')"
        method="POST">
        {% csrf_token %}
        <div class="row form-group mb-5">
            <label style="font-size:18px;" for="group_name" class="col-sm-2 col-form-label">Group Name</label>
            <div class="col-sm-10">
                <input name="group_name" type="text" class="form-control" id="group_name" required>
                {% for e in errors %}
                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> {{e}}</p>
                {% endfor %}
            </div>
        </div>
        <h5>Select Members</h5>
        <div class="row form-group mt-5">
            <div class="col-sm-12 mb-3 form-inline">
                <input class="col-sm-10 form-control" placeholder="Search" id="member_search" list="member_list">
                <datalist id="member_list">
                    {% for m in filter_members %}
                    <option>{{ m }}</option>
                    {% endfor %}
                </datalist>
                <input type="button" class="col-sm-2 btn btn-primary" id="add" onclick="add_member('member_search', 'members')"
                    value="Add">
            </div>
            <div class="col-sm-11">
                <ul class="ul_style ml-4 mx-3" id='members'></ul>
            </div>
        </div>
        <div class="text-center p-4">
            <button class="btn btn-lg btn-primary" type="submit" style="font-size:18px;">Create Group</button>
        </div>
    </form>
</div>

<script>
    var f_members = "{{filter_members}}";
    var all_groups = "{{all_groups}}";
    add_creator('members', '{{user}}');
</script>
{% endblock %}