{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Waterfall - TricklePay</title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/group.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" type="text/css">
<script src="{% static 'js/awesomplete.js' %}" async></script>
<link rel="stylesheet" href="{% static 'css/group.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container bootstrap snippet ">
    <h2 class="py-4">Create Group</h2>
    <form role="form" id="group-creation-form" onsubmit="event.preventDefault();popup('members','group-create-form')"
        method="POST">
        {% csrf_token %}
        <div class="row form-group mb-5">
            <label for="pay_amount" class="col-sm-2 col-form-label">Group ID</label>
            <div class="input-group col-sm-10">
                <input name="group_id" type="text" class="form-control" id="group_id" required>
            </div>
        </div>
        <h5>Members</h5>
        <div class="row form-group mt-5">
            <div class="col-sm-12 mb-3 form-inline">
                <input class="col-sm-10 form-control" placeholder="Search" id="member_search" list="member_list"
                    required>
                <datalist id="member_list">
                    {% for m in filter_members %}
                    <option>{{ m }}</option>
                    {% endfor %}
                </datalist>
                <input type="button" class="fa fa-plus col-sm-2 btn btn-primary font-weight-bold" id="add" onclick="add_member('member_search', 'members')"
                    value="Add &#xf067">
            </div>
            <div class="col-sm-11">
                <ul class="ul_style ml-4 mx-3" id='members'></ul>
            </div>
        </div>
        <div class="text-center p-4">
            <button class="btn btn-lg btn-primary" type="submit">Create Group
                <i class="fa fa-users px-2"></i></button>
        </div>
    </form>
</div>

<script>
    var f_members = "{{filter_members}}";
    add_creator('members', '{{user}}');
</script>
{% endblock %}