{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block css %}
<link href="{% static "css/dash.css" %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="dash_back">
    <div class="dash_form">
        <form class="form">
            <div class="form-row">
                <div style="padding: 0px !important;" class="col-md-10 form-group">
                    <input type="text" style="width: 100%;" class="form-control" placeholder="Search" id="usr">
                </div>
                <div class="col">
                    <button type="submit" class="btn search_btn btn-outline-success">Search</button>
                </div>
            </div>
        </form>
    </div>
    <br/><br/>
    <div class="row dash_heading">
        <div class="col">
            <h3>Incoming Payments</h3>
        </div>
        <div  class="col">
            <p style="float:right;">View more</p>
        </div>
    </div>
    <br/>
    <div class="income_table">
            <table class="table">
                    <thead>
                      <tr class="income_header_row">
                        <th style="width:70%;" scope="col">Name</th>
                        <th style="width:30%; text-align:center;" scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for tx in incoming %}
                        <tr>
                            <td>{{ tx.tx_from.account }}</td>
                            <td style="text-align:center;">{{ tx.tx_to.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>

    </div>
    <br/><br/>
    <div class="row dash_heading">
            <div class="col">
                <h3>Outgoing Payments</h3>
            </div>
            <div  class="col">
                <p style="float:right;">View more</p>
            </div>
        </div>
        <br/>
        <div class="income_table">
                <table class="table">
                        <thead>
                          <tr class="income_header_row">
                            <th style="width:70%; text-align:center;" scope="col">Name</th>
                            <th style="width:30%; text-align:center;" scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                        
                            {% for tx in outgoing %}
                            <tr>
                                <td>{{ tx.tx_to.account }}</td>
                                <td style="text-align:center;">{{ tx.tx_from.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
    
        </div>
        <br/><br/>
    <div class="row dash_heading">
            <div class="col">
                <h3>Transaction History</h3>
            </div>
            <div  class="col">
                <p style="float:right;">View more</p>
            </div>
        </div>
        <br/>
        <div class="income_table">
                <table class="table">
                        <thead>
                          <tr class="income_header_row">
                            <th style="width:70%; text-align:center;" scope="col">Name</th>
                            <th style="width:30%; text-align:center;" scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for tx in past %}
                              {% if tx.tx_from.account|slugify == user1 %}
                              <tr>
                                  <td>{{ tx.tx_to.account }}</td>
                                  <td style="text-align:center; color:rgb(223, 65, 65);">{{ tx.tx_from.value }}</td>
                              </tr>
                              {% else %}
                              <tr>
                                  <td>{{ tx.tx_from.account }}</td>
                                  <td style="text-align:center; color:rgb(37, 165, 37);">{{ tx.tx_to.value }}</td>
                              </tr>
                              {% endif %}
                            {% endfor %}
                        </tbody>
                      </table>
    
        </div>
</div>
<br/><br/>

{% endblock %}
