{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block content %}
{% for tx in user.account.transaction_set.all.reverse %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ tx.title }}</h5>
            <p class="card-text">{{ tx.transaction_type }} {{ tx.created_at }}</p>
            <p class="card-text">${{ tx.value | floatformat:"2" }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
