{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %} {% endblock %}
        {% block css %} {% endblock %}
        <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="icon"
          type="image/png"
          href="{% static 'images/waterfall-logo.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>

        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Hind:300|Nanum+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Assistant|IBM+Plex+Sans" rel="stylesheet">
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    </head>

    <!-- Load our React component. -->
    <body class="">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
            <a href="/"><img src="{% static "images/waterfall-logo.png" %}" style="padding-left: 35%; padding-top: 5px;padding-bottom: 5px; height: 120px;"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="padding-right: 35px; font-size:18px;">
                    <li class="nav-item">
                        <a id="about_nav" class="nav_text nav-link" href="{% url 'team' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="services_nav" class="nav_text nav-link" href="{% url 'team' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Team
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="contact_nav" class="nav_text nav-link" href="{% url 'login' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Login
                        </a>
                    </li>
                </div>

        </nav>
        {% block content %} {% endblock %}
        <div class="footer">
                <div class="container desktopView">
                    <br/>
                    <br/>
                    <div class="copyright">
                        <p style="max-width:200px; margin-right: 10px !important;" class="bottomText">Project Waterfall &copy; 2018</p>
                    </div>
                    <div class="social_icons">
                        <i class="fab fa-facebook-square icon"></i>
                        <i class="fab fa-linkedin icon"></i>
                        <i class="fab fa-instagram icon"></i>
                    </div>
                </div>
            </div>
    </body>
</html>


<script>


</script>
