{% extends 'home-base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block css %}
<link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="login_back">
    <div class="padding_top1 container main_landing">

        <center>
            <div class="col-md-5 login_back1">
                <form class="register_form">
                    <div class="form-group row">
                        <div class="col-sm-12">
                          <p class="display-6 form-control-static login_title">LOGIN</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="g_button btn btn-default"><img class="g_icon_login" src="{% static 'images/google_icon.png' %}">Sign in with Google</button>
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="g_button btn btn-default"><img class="g_icon_login" src="{% static 'images/fb_icon.png' %}">Sign in with Facebook</button>
                        </div>
                    </div>-->
                    <div class='hr'></div>

                    <div class='hr-or'></div>

                    <div class='hr'>
                        <span class='hr-title'>or</span>
                    </div>
                    <hr style="colour:white; background-color:white;"/>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="text" placeholder="Username" id="input_username">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="input_password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" id="login_btn" style="width: 100%;" class="btn btn-outline-success">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </center>
        <br/><br/><br/><br/><br/>
    </div>
</div>

{% endblock %}
