<div class="col-sm-12">
        <h2 class="py-4">TricklePay</h2>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {{ pay_page }}" href= "{% url 'pay' %}">Pay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ request_page }}" href= "{% url 'request' %}">Request</a>
                </li>
            </ul>
        </div>
    </div>