{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Trickle Pay</title>
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" type="text/css">
<script src="{% static 'js/awesomplete.js' %}" async></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style type="text/css">
    .panel .panel-heading {
        background-color: rgb(136, 206, 188);
        padding-top: 1%;
        padding-left: 0.7%;
    }

    .nav-tabs>li>a {
        color: black;
        width: 150px;
        text-align: center;
    }

    .nav-tabs>li>a:hover,
    .nav-tabs>li>a:focus {
        background-color: rgb(79, 196, 166);
    }

    .btn-primary {
        background-color: rgb(136, 206, 188) !important;
        border-color: rgb(136, 206, 188) !important;
        color: black;

    }

    input[type=radio] {
        display: none;
    }

    input[type=radio]+label {
        border: 1px, solid, rgb(136, 206, 188);
    }

    input[type=radio]:checked+label {
        background: rgb(136, 206, 188);
    }

    .no-resize {
        resize: none;
    }

    .btn:hover,
    .btn:focus {
        background-color: rgb(96, 204, 177) !important;
        border-color: rgb(96, 204, 177) !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container bootstrap snippet pt-3 pl-5 ml-5">
    <div class="row">
        {% include 'navtabs.html' %}
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane container active" id="pay">
                    <div class="row form-group mt-5">
                        <label class="col-sm-2 col-form-label" for="search">TricklePay ID</label>
                        <div class="col-sm-10 mb-3">
                            <input class="form-control autocomplete" type="search" placeholder="Search" id="search" list="userList" required>
                            <datalist id="userList">
                                    <option>...</option>
                            </datalist>
                        </div>
                    </div>
                    <form role="form" id="pay-form" method="POST">
                        <div class="row form-group mb-5">
                            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="amount" required>
                            </div>
                        </div>
                        <div class="row form-group mb-5">
                            <label class="col-sm-2 col-form-label" for="date">Date</label>
                            <div class="form-inline col-sm-10">
                                <input type=date class="form-control col-sm-4" role="input" id="date" required>
                                <div class="text-center col-sm-5">
                                    <div class="btn-group  pl-5">
                                        <input type="radio" id="once" name="selector"><label for="once" class="btn">Once</label>
                                        <input type="radio" id="weekly" name="selector"><label for="weekly" class="btn">Weekly</label>
                                        <input type="radio" id="monthly" name="selector"><label for="monthly" class="btn ">Monthly</label>
                                        <input type="radio" id="yearly" name="selector"><label for="yearly" class="btn ">Yearly</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group mb-5">
                            <label class="col-sm-2 col-form-label" for="description">Description</label>
                            <div class="col-sm-10 mb-3">
                                <textarea class="no-resize form-control" row="3" id="description">Type something...</textarea>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <button class="btn btn-lg btn-primary" type="submit">TricklePay <i class="fa fa-credit-card px-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}