{% extends 'home-base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block css %}
<link href="{% static "css/team.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="team_back">
    
    <div class="about_product">
        <div class="container">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="team_header "><h1 class="display-4">Registration Successful</h1></div>
            <br/>
            <p>
            Go to dashboard: LINK
                <br/><br/>

            </p>
            <br/><br/>
            <br/><br/>
        </div>
    </div>
</div>

{% endblock %}
