{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall - TricklePay</title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/pay.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" type="text/css">
<script src="{% static 'js/awesomplete.js' %}" async></script>
<link rel="stylesheet" href="{% static 'css/tricklepay.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        {% include 'navtabs.html' %}
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane container active" id="request">
                    <form role="form" id="req-form" onsubmit="event.preventDefault();popup('req_users','req-form','req_amount', 'req_date')"
                        method="POST">
                        {% csrf_token %}
                        <div class="row form-group mt-5 mb-5">
                            <label class="col-sm-2 col-form-label" for="req_from">From</label>
                            <div class=" col-sm-10">
                                <select class="form-control" name="req_from" id="req_from">
                                    {% for f in from_users %}
                                    <option value="{{f}}">{{ f }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-2 col-form-label" for="search">TricklePay ID</label>
                            <div class="col-sm-10 mb-3 form-inline">
                                <input class="col-sm-10 form-control autocomplete" type="req_search" placeholder="Search"
                                    id="req_search" list="req_userList">
                                <datalist id="req_userList">
                                    {% for f in filter_users %}
                                    <option>{{f}}</option>
                                    {% endfor %}
                                </datalist>
                                <input type="button" class="fa fa-plus col-sm-2 btn btn-primary font-weight-bold" id="req_add"
                                    onclick="add('req_search', 'req_users', 'req_amount'); update_value('req_users','req_amount')"
                                    value="Add &#xf067">
                            </div>
                        </div>
                        <div class="col-sm-12  ml-5 pl-5 mb-3">
                            <ul class="ml-5 form-inline" id="req_users"></ul>
                        </div>
                        <div class="row form-group mb-5">
                            <label for="req_amount" class="col-sm-2 col-form-label">Amount</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="req_amount" name="req_amount" onchange="update_total('req_amount', 'summary_total'); update_value('req_users','req_amount')"
                                    min="0" step=".01" required>
                            </div>
                        </div>
                        <div class="row form-group mb-5">
                            <label class="col-sm-2 col-form-label" for="req_date">Deadline</label>
                            <div class="form-inline col-sm-10">
                                <input type=date class="form-control col-sm-4" role="input" id="req_date" name="req_date"
                                    required>
                                <div class="text-center col-sm-5">
                                    <div class="btn-group  pl-5" id="req_freq">
                                        <input type="radio" name="req_freq" id="req_once" value="0" required><label for="req_once"
                                            class="btn">Once</label>
                                        <input type="radio" name="req_freq" id="req_weekly" value="7"><label for="req_weekly"
                                            class="btn">Weekly</label>
                                        <input type="radio" name="req_freq" id="req_monthly" value="30"><label for="req_monthly"
                                            class="btn ">Monthly</label>
                                        <input type="radio" name="req_freq" id="req_yearly" value="365"><label for="req_yearly"
                                            class="btn ">Yearly</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group mb-5">
                            <label class="col-sm-2 col-form-label" for="description">Description</label>
                            <div class="col-sm-10 mb-3">
                                <textarea name="req_description" class="no-resize form-control" row="3" id="description"
                                    placeholder="Type Something..." required></textarea>
                            </div>
                        </div>
                        <div class="row form-group mb-5 border-top" style="display:none" id="summary">
                            <p class="py-4">Request Summary</p>
                            <div class="form-group col-sm-10  ml-5 pl-5 mb-3 table-responsive-sm">
                                <!-- <ul class="ml-4 form-inline" id='summary'></ul> -->
                                <table class="ml-5 table" id="summary_table">
                                    <thead>
                                        <tr>
                                            <td class="w-50">Payee</td>
                                            <td class="w-50">Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label for="summary_total" class="col-sm-2 ml-5 col-form-label">Total</label></td>
                                            <td><input id="summary_total" class="form-control col-sm-7" value="0"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <button class="btn btn-lg btn-primary" type="submit">Request
                                <i class="fa fa-paper-plane px-2"></i></button>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var f_users = "{{filter_users}}";
    checkError("{{error}}");
    document.getElementById('req_date').valueAsDate = new Date();
</script>
{% endblock %}