{% extends 'home-base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block css %}
<link href="{% static "css/team.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="team_back">
    <div class="container main_landing">
        <div class="team_header padding_top"><h1 class="display-4">Our Team</h1></div>
            <br/><br/><br/>
            <center class="profiles">
            <div class="row">
                <div class="profile_card col">
                    <div class="card" style="width:150px">
                    <img class="member_image card-img-top"  src="{% static "images/jo.jpg" %}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Joseph</h4>
                      <p class="card-text">Back-end </p>
                    </div>
                  </div>
                </div>
                <div class="profile_card col">
                    <div class="card" style="width:150px">
                    <img class="member_image card-img-top"  src="{% static "images/lynn.jpg" %}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Lynn</h4>
                      <p class="card-text">Front-end </p>
                    </div>
                  </div>
                </div>
                <div class="profile_card col">
                    <div class="card" style="width:150px">
                    <img class="member_image card-img-top"  src="{% static "images/martin.jpg" %}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Martin</h4>
                      <p class="card-text">Back-end </p>
                    </div>
                  </div>
                </div>
                <div class="profile_card col">
                    <div class="card" style="width:150px">
                    <img class="member_image card-img-top"  src="{% static "images/nash.jpg" %}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Panashe</h4>
                      <p class="card-text">Product Owner</p>
                    </div>
                  </div>
                </div>
                <div class="profile_card col">
                    <div class="card" style="width:150px">
                    <img class="member_image card-img-top"  src="{% static "images/steph.jpg" %}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Steph</h4>
                      <p class="card-text">Scrum Master</p>
                    </div>
                  </div>
                </div>
        
            </div>
        </center>
            
        
        <br/><br/>
        <br/><br/>
    </div>
    <div class="about_product">
        <div class="container">
            <br/><br/>
            <div class="team_header "><h1 class="display-4">Our Product</h1></div>
            <br/>
            <p>
            Project Waterfall is a web application that enables easy payments, bill splitting and monitoring of recurring expenses between individuals and groups of people. Implementation will only use in-app currency as proof-of-concept, although this might be pursued in future iterations.
                <br/><br/>
Users can pay, request and split money amounts with each other via in-app currency balance, as well as set up groups for common payment sharing. Each user and group of users will have a special TrickleID to identify payments going to and from such parties. Recurring and late payments as well as low account credit will result in an email notification. The main user experience comes in the form of a dashboard with various views for users to manage future and current payments. 

            </p>
            <br/><br/>
            <br/><br/>
        </div>
    </div>
</div>

{% endblock %}
