{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Waterfall - View More</title>
{% endblock %}

{% block css %}
<link href="{% static "css/dash.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/more.css" %}" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static "js/dash.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="dash_back" style="padding:14px; margin-top:-12px;">
    <div class="row dash_heading">
        <div class="col">
          {% if not search %}
            <h3 style="color:black;">{{ title }}</h3>
          {% else %}
            <h3 style="color:black;">{{ title }} with "{{ search }}"</h3>
          {% endif %}
        </div>
        <div  class="col">
        </div>
    </div>
    <br/>
    <div class="dash_form">
        <form class="form">
            <div class="form-row">
              <form method="GET" action="/dashboard" >
                {% csrf_token %}
                <div style="padding: 0px !important;" class="col-md-10 form-group">
                    <input type="text" style="width: 100%;" class="form-control" placeholder="Search" name="query" id="usr">
                </div>
                <div class="col">
                  <button type="submit" class="btn search_btn btn-outline-success">Search</button>
                </div>
              </form>
            </div>
        </form>
    </div>
    <br/>

    <div class="income_table">
      {% if current %}
      <table class="table">
        <thead>
          <tr class="income_header_row">
            <th style="width:15%; text-align:center;" scope="col">Date</th>
            <th style="width:15%; text-align:center;" scope="col">Name</th>
            <th style="width:30%; text-align:center;" scope="col">Description</th>
            <th style="width:10%; text-align:center;" scope="col">Amount</th>
            <th style="width:20%; text-align:center;" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for tx in current %}
          <tr>
            <td>{{ tx.deadline }}</td>
            {% if tx.tx_from.account.user and user.account == tx.tx_from.account %}
              <td class="text-center">{{ tx.tx_to.account }}</td>
              <td class="text-center">{{ tx.tx_to.title | truncatechars:30 }}</td>
              <td style="text-align:center; color:rgb(223, 65, 65);">${{ tx.tx_from.value | floatformat:"2" }}</td>
            {% else %}
              <td class="text-center">{{ tx.tx_from.account }}</td>
              <td class="text-center">{{ tx.tx_from.title | truncatechars:30 }}</td>
              <td style="text-align:center; color:rgb(37, 165, 37);">${{ tx.tx_to.value | floatformat:"2" }}</td>
            {% endif %}

            <td style="text-align:center;">
              <!-- Approve/Deny Received Requests  -->
              {% if tx.is_request %}
                {% if tx.tx_from.account.user and user.account == tx.tx_from.account %}
                  <form style="float:right;" id="delete-req-form" onsubmit="event.preventDefault(); confirmPopup('delete-req-form');" method="POST">
                    {% csrf_token %}
                      <input type="hidden" name="req" id="delete-req" value="delete-req">
                      <input type="hidden" name="transfer" value={{tx.id}}>
                      <div class="request_btn">
                          <button type="submit" value="delete-req" class="btn reject_btn btn-outline-success" style="outline:none;">
                            <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </form>
                  <form style="float:right;" id="approve-req-form" onsubmit="event.preventDefault(); confirmPopup('approve-req-form');" method="POST">
                    {% csrf_token %}
                      <input type="hidden" name="req" id="approve-req" value="approve-req">
                      <input type="hidden" name="transfer" value={{tx.id}}>
                      <div class="request_btn">
                          <button type="submit" value="approve-req" class="btn accept_btn btn-outline-success" style="outline:none;">
                            <i class="fas fa-check"></i>
                          </button>
                      </div>
                  </form>
                <!-- Deny Outgoing Requests  -->
                {% else %}
                <form style="float:right;" id="delete-outreq-form" onsubmit="event.preventDefault(); confirmPopup('delete-outreq-form')" method="POST">
                  {% csrf_token %}
                    <input type="hidden" name="req" id="delete-req" value="delete-req">
                    <input type="hidden" name="transfer" value={{ tx.id }}>
                    <div class="request_btn">
                        <button value="delete-req" class="btn reject_btn btn-outline-success" style="outline:none;">
                          <i class="fas fa-times"></i>
                        </button>
                    </div>
                </form>
              {% endif %}

            {% elif not tx.tx_to.account.user or not user.account == tx.tx_to.account %} <!-- Can cancel outgoing payments.-->
              <form style="float:right;" id="delete-form" onsubmit="event.preventDefault(); confirmPopup('delete-form');" method="POST">
                {% csrf_token %}
                <input type="hidden" name="req" id="delete-req" value="delete-req">
                <input type="hidden" name="transfer" value={{tx.id}}>
                <div class="request_btn">
                    <button value="delete-req" class="btn reject_btn btn-outline-success" style="outline:none;">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
              </form>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% elif past %}
      <table class="table">
        <thead>
          <tr class="income_header_row">
            <th style="width:20%; text-align:center;" scope="col">Date</th>
            <th style="width:20%;" scope="col">Name</th>
            <th style="width:25%;" scope="col">Description</th>
            <th style="width:25%; text-align:center;" scope="col">Amount</th>
            <th style="width:10%; text-align:center;" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for tx in past %}
              {% if tx.tx_from.account == user.account %}
              <tr>
                  <td>{{ tx.confirmed_at }}</td>
                  <td>{{ tx.tx_to.account }}</td>
                  <td>{{ tx.tx_to.title | truncatechars:30 }}</td>
                  <td style="text-align:center; color:rgb(223, 65, 65);">${{ tx.tx_from.value | floatformat:"2" }}</td>
              </tr>
              {% else %}
              <tr>
                  <td>{{ tx.confirmed_at }}</td>
                  <td>{{ tx.tx_from.account }}</td>
                  <td>{{ tx.tx_from.title | truncatechars:30 }}</td>
                  <td style="text-align:center; color:rgb(37, 165, 37);">${{ tx.tx_to.value | floatformat:"2" }}</td>
              </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
      {% else %}
        {% if search %}
          <p>No search results match your query.</p>
        {% else %}
          <p>You currently have no such transactions.</p>
        {% endif %}
      {% endif %}
    </div>
    <br/><br/>
</div>
<script>
checkError("{{error}}");
</script>
{% endblock %}
