{% extends 'email/email-base.html' %}
{% load static %}

{% block title %}
<title>Waterfall</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <h1 style="color:black;">{{ subj }}</h1>
  <p style="color:black; font-size:16px;">
    We have cancelled a request of <strong>${{ val | floatformat:"2" }}</strong> {{ other_txt }} <strong>{{ other_usr }}</strong> as it has passed its given deadline.
  </p>
  <p style="color:black; font-size:16px;">
    Your Waterfall balance is currently <strong>${{ bal | floatformat:"2" }}</strong>.
  </p>
  <br>
  <p style="font-size:14px; color:grey;">
    This is an automated email notification, please do not reply.
  </p>
{% endblock %}
